/*@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
*/
html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body{
  background-color:#F8F8F8;
}

#main .row{
  margin: 0;
  max-width:100%;
}



footer .container{
  width:100%;
}

/* text to be annotated */
#rawdata{
  margin-top: 100px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#rawdata p{
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom:24px;
  line-height:24px;
}
#annotation-area{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* bottom tool bar */
#bottom-bar{
  background: rgba(52,73,94,0.90);
  height:60px;
  max-width:100%;
  position:fixed;
  bottom:0;

  z-index: 99;
}
#bottom-nav{
  display:block;
  float:left;
  margin-top: 5px;
}
#bottom-nav li{
  list-style-type:none;
  display:inline;
}
#home a{
  text-decoration: none;
  font-family: "Open Sans", arial,sans-serif;
  font-size: 30px;
  color:#fff;
}
#bottom-bar ul li p{
  display:inline;
  line-height: 4rem;
  font-family: Open Sans;
  font-weight:300;
  font-size: 16px;
  color: #FFFFFF;
}
#separation p{
  margin: 0.5em 0.5em;
}
#tools{
  display:block;
  width:600px;
  position:absolute;
  left:50%;
  margin-bottom:0px;
  margin-left:-80px;
  
}
#tools li{
  display:block;
  float:left;
  padding-top:10px;
  padding-bottom:15px;
  padding-right:12px;
  padding-left:12px;

  list-style-type:none;
}
#tools li img{
  display:block;
  float:left;
}
#tools div{
  display:block;
  float:left;
  margin-top:-5px;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:12px;
  padding-left:12px;
}
#tools div img{
  display:block;
  float:left;
  padding-right: 15px;
}
#tools div input{
  display:block;
  background-color: rgba(52,73,94,0.0);
  border:0px;
  padding-left: 5px;
  padding-top: 5px;
  font-family:"Open Sans", arial,sans-serif;
  font-size: 18px;
  font-weight: 300;
  color:#fff;

}
#tools .active{
  background-color: #FD761F;;
}
#tools li:hover{
  background-color: #FD761F;
}
*::-webkit-input-placeholder {
    color: rgba(202,221,239,1);
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(202,221,239,1);
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(202,221,239,1);
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(202,221,239,1);
}

.switch{
  display:block;
  float:right;
  margin-right: 2%;
  margin-top: 12px; 
  border-radius: 2px;

  padding:10px;
  width:160px;
  background-color:#DBDBDB;
}
.switch .in-progress{
  position:relative;
  padding-top: 10px;
}
.switch .completed{
  display:none;
  position:relative;
  float:right;
  right:0px;
}

.switch.in-progress .toggle{
  position:absolute;

  top:12px;
  width:36px;
  height:36px;
  right:26.078px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  background: #9FB2C5;
  z-index:999;
}

.switch.completed .toggle{
  position:absolute;

  top:12px;
  width:36px;
  height:36px;
  right:150.078px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  background: #0CBD94;
  z-index:999;
} 
.sentenceStyle{
  background-color:yellow;
}
#annotation-area{
  height:100000px;
  background-color: #D5DFDC;
  padding-left: 25px;
  padding-right:15px;
}

/* ---------  switch    ----------*/
footer .onoffswitch {
    display:block;
    float:right;
    position: relative; 
    margin:13px 20px;
    width: 144px;

    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border-radius: 5px;
}

.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;

    -moz-transition: margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; width: 50%; 
    height: 30px;
    padding: 0; 
    line-height: 30px;
    font-size: 16px; 
    color: white; 
    font-family: "Open Sans", Arial, sans-serif;
    font-weight:300; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Completed";
    padding-left: 15px;
    background-color: #0CBD94; 
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "In progress";
    padding-right: 15px;
    background-color: #D8D8D8; 
    color: #797979;
    text-align: right;
}

.onoffswitch-switch {
    display: block; 
    width: 34px;
    height:30px; 
    margin: 0px;
    background-color: #9FB2C5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 110px;
    -moz-transition: all 0.3s ease-in 0s; 
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color:#118770;
    border-bottom-left-radius: 0px;
    border-top-left-radius:0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/************* annotation boxes **************/
.annotation{
  float:right;
  width:90%;
  background-color: #fff;
  border: 4px solid #fff;
  padding:5px 15px 5px 15px;
}
.annotation.para-active{
  border:4px solid #F1C40F;
}
.annotation .div-theme{
  position:relative;
  display:block;
  float:left;
  width:auto;

  margin-left: -35px;
  margin-right: 10px;
  margin-top:-32px;

  padding:5px;
}
.div-theme .theme{
  float:left;
  background-color: #16A085;
  color:#fff;
  min-width: 60px;
  max-width:120px;
  padding:5px 10px;
  border:5px solid #fff;
  position:relative;
  margin-right:5px;

  font-family:"Open Sans",arial,sans-serif;
  font-size:12px;
  color: #fff;
  text-align: left;

}
.annotation .interpretation{
  display:block;
  width:100%;
  border:0px;
}
.annotation .done, .annotation .cancel{
  display:block;
  float:right;
  width:70px;
  height:26px;
  margin-left: 10px;
  border-radius: 6px;
  box-shadow: 0;
  border:0px;


  font-family:"Open Sans",arial,sans-serif;
  font-size:12px;
  color: #fff;
  text-align: center;
}
  
.annotation .done{
  background: #0CBD94;
}
.annotation .cancel{
  border-radius: 6px;
  background: #9FB2C5;
}
.annotation .add{
  display:block;
  float:left;
  margin-left:-5px;
  background-color: #fff;
  width:auto;
  padding:5px 3px;
  border:5px solid #fff;
}
.annotation .tx-val{
  margin-top: 15px;
  position:relative;
}
.vote span{
  margin-left:3px;
  margin-right:3px;
  
  font-family: "Open Sans", arial, sans-serif;
  font-size: 10px;
  color: #9B9B9B;

}
.vote{
  float:right;
}
.vote .num_imp{
  padding-right: 8px;
}
.tx-val{
  margin-top: 0px;
  margin-bottom: 0px;
}
.annotation .edit{
  display:block;
  float:right;
  text-decoration: none;
  font-family: "Open Sans", arial,sans-serif;
  font-size: 10px;
  color: #16A085;
}

/****** try *****/
.wrapper{
  float:left;
}
.theme:focus{
    outline: none;
}
.theme:focus + .mc-menu, .theme:not(:focus) + .mc-menu:hover  {
    display: block;
}
.mc-menu {
    background: #fff;
    position: absolute;
    display: none;
    width: 120px;
    max-height:240px;
    overflow: auto;

    margin-top: 35px;
    padding: 5px 10px 15px 10px;

    z-index: 99;
}
.mc-menu:before,
.mc-menu:after {
   bottom: 100%;
   left: 83%;
   border: solid transparent;
   content: "";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}
.mc-menu:before {
   border-color: transparent;
   border-bottom-color: #ddd;
   border-width: 9px;
   margin-left: -9px;
}
.mc-menu:after {
   border-color: transparent;
   border-bottom-color: #fff;
   border-width: 8px;
   margin-left: -8px;
}
.mc-title,
.mc {
    display: block;
    width: 100%;
    height: 22px;
    line-height: 22px;
    color: #555;
}
.mc-title {
    position: relative;
    margin: 10px 0 5px;
    text-align: left;
    font-size: 12px;
    font-family:"Open Sans",arial,sans-serif;
    color:#7A7979;
    border-bottom: 1px solid #B2B2B2;
}
.mc-title span {
    background: #fff;
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 0 5px;
}
.mc {
    font-family:"Open Sans",arial,sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.mc:hover {
    color: #16A085;
}


/**********************   Summary Page ************************/
  /*** top-bar ***/
.top-bar{
  background: #34495E;
  height:50px;
  width:100%;
  top:0px;
  position:absolute;

}
.top-bar .brand{
  float:left;
  font-family: "PTSans-Narrow";
  font-size: 36px;
  color: #FFFFFF;
  line-height: 48px;
}
.top-bar .pj-name{
  float:left;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  line-height:57px;
  margin-left: 36px;
  color: #FFFFFF;

}
.top-bar img{
  float:right;
  margin-top: 12px;
  width:25px;
}
  /*** secondary-bar ***/
.summary-main{
  margin-top: 50px;
  height:50px;
  width:100%;
  background-color: #F8F8F8;
}
.summary-main .myTabs{
  float:left;
  margin-left: -30px;
}
.summary-main .myTabs li{
  display:block;
  float:left;
  margin-top:10px;
}
.summary-main .myTabs li a{
  width:120px;
  text-align: center;
  padding:5px 10px;
  border-radius: 100px;

  font-family:"Open Sans",sans-serif;
  font-weight: 300;
  font-size:14px;
  color:#7A858A;
}
.summary-main .myTabs li.active a,.summary-main .myTabs li a:hover{
  background-color: #0CBD94;
  color:#fff;
}
.summary-main img{
  display:block;
  float: right;
  margin-top:30px;
  width:20px;
}
  /*** sort-bar***/
.tab-content{
  width:100%;
  background-color: #fff;
  height:60px;
}
.sort-bar{
  display:block;
}
.sort-bar #ic-search{
  float:left;
  width:26px;
  margin-top: 15px;
  margin-left: 16px;
}
.sort-bar input{
  display:block;
  float:left;
  width:300px;

  border:0px;
  box-shadow: none;
  margin:17px 20px 13px;

  font-family: "Open Sans",sans-serif;
  font-size: 14px;
}
.sort-bar button{
  margin-top:11px;
  float:right;
  background-color:#0CBD94; 
  border-radius: 6px;
  padding:5px 17px;

  box-shadow: none;
  border:0px;
}
.sort-bar button img{
  display:block;
  float: left
}
.sort-bar button p{
  display:block;
  float:left;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0px;

  color:#fff;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.sort-bar .a-z{
  float:right;
  margin-top:18px;
  margin-left: 10px;
  margin-right: 30px;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 16px;
  color:#7A798A
}
.sort-bar #ic-quantity, .sort-bar #ic-important{
  float:right;
  width:20px;
  margin-top:18px;
  margin-left: 10px;
  margin-right: 10px;
}

.sort-bar .sort-by{
  float:right;
  margin-top:18px;
  margin-right:10px;

  font-family: "Open Sans",sans-serif;
  font-weight: 300;
  font-size: 16px;
  color:#7A798A
}

  /*** summary body ***/
.summary-body{
  margin-top: 10px;
}
.summary-body .stat div{
  float:none;
  width:100%;
}
.summary-body .stat .green-h1{
  display:block;
  float:left;
}
.summary-body .stat h1{
  display:block;
  float:left;
}
/*
.stat div h1,.stat div img,.stat div p{
  display:block;
  float:left;
}
.stat div .green-h1{
  font-size: 24px;
  color: #16A085;
}
.stat div h1{
  font-size:24px;
  color:#7A798A;
  margin-left: 15px;
}
.stat li p{
  font-size:14px;
  color:#7A798A;
  margin-left: 15px;
}*/
.group-name{
  margin-top: 30px;
  margin-bottom:20px;
  border-bottom: 1px solid #979797;
  cursor:move;
}
.group-name p{
  margin:0 auto -15px;
  text-align: center;
  width:auto;
  max-width: 240px;

  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  color: #16A085;
  background-color: #F8F8F8;
}

#sortable1, #sortable2 {
    width: 100%;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#sortable1 li, #sortable2 li {
    padding: 5px;
    font-size: 1.2em;
    width: 100%px;
}

/*** SUMMARY BOXES ***/
.summary-theme{
  cursor
  display:block;
  margin-top:40px;
  margin-bottom: 20px;
  padding:0 10px 10px;
  width:100%;
  background: #fff;
  box-shadow: 1px 1px 2px #A7A7A7;
}
.summary-theme .connectedSortable{
  border:0px;
}
.summary-theme p{
  cursor:move;
  padding:5px 15px;
  display:block;
  float:left;
  color:#fff;
  margin:-20px -15px 10px;
  background: #0CBD94;
  border: 4px solid #FFFFFF;
  z-index:10;
}
.summary-theme:after {
  content: "";
  display: table;
  clear: both;
}

.insight-theme ul li p{
  cursor:default;
  display:block;
  float:left;
  width:450px;
  background:#fff;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 20px;
}
.summary-theme .ui-state-default:after {
  content: "";
  display: table;
  clear: both;
}
.insight-theme ul .ui-state-default{
  margin-bottom: 15px;
}
.insight-theme ul li p span{
  margin-left: 10px;
  font-size: 10px;
  color: #16A085;
  line-height: 14px;
}
.summary-theme ul li .vote{
  margin-top: -15px;
  margin-left: 10px;
}
.stat div:after{
  content: "";
  display: table;
  clear: both;
}
span.role{
  margin-right: 15px;
}
.edit{
  cursor:pointer;
}
.insight-theme ul li .ist{
  color:#16A085;
  cursor:pointer;
}
.hidden-info{
    margin:-15px 0px 30px 30px;
    padding:bottom:30px;  
}
.insight-theme ul .hidden-info p{
    font-size: 12px; 
    font-style: italic; 
    color:#16A085;
}
